@using AirlineBookingMVC.Areas.Admin.ViewModels.Shared
@model AirlineBookingMVC.Areas.Admin.ViewModels.Pesawat.ListPesawatsViewModel;
<h1>
    List Pesawat
</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<partial name="MessageView" model="Model"/>

<div class="d-flex align-items-center">
    <div>
        <a class="btn"
           asp-area="Admin"
           asp-action="List"
           asp-controller="Pesawat"
           asp-route-t="@Model.t">
            <i class="bi-arrow-clockwise" style="font-size: 24px;"></i>
        </a>
    </div>
    
    <div>
        <a class="btn"
           asp-area="Admin"
           asp-action="Create"
           asp-controller="Pesawat"
           asp-route-t="@Model.t">
            <i class="bi-plus-circle" style="font-size: 24px;"></i>
        </a>
    </div>


</div>

<div class="d-lg-block d-md-block d-sm-none d-none">
    <div>
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th scope="col">
                </th>
                <th scope="col">Kode Pesawat</th>
                <th scope="col">Kode Jenis Pesawat</th>
                <th scope="col">Kode Maskapai</th>
                <th>Tgl.Buat</th>
                <th>Dibuat oleh</th>
                <th>Tgl.Ubah</th>
                <th>Diubah oleh</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Pesawats)
            {
                <tr>
                    <th scope="row">
                        <a asp-action="Edit"
                           asp-route-id="@item.KodePenerbangan"
                           asp-route-t="@Model.t"

                           class="btn btn-primary">
                            Edit
                        </a>
                        <a class="btn btn-danger btn-delete"
                           data-bs-toggle="modal"
                           data-bs-target="#deleteConfirm"
                           data-id="@item.KodePenerbangan">
                            Delete
                        </a>
                    </th>
                    <td>@item.KodePenerbangan</td>
                    <td>@item.KodeJenisPesawat</td>
                    <td>@item.KodeMaskapai</td>
                    <td>@item.CreatedAt</td>
                    <td>@item.CreatedBy</td>
                    <td>@item.UpdatedAt</td>
                    <td>@item.UpdatedBy</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div class="d-lg-none d-md-none d-sm-block d-block">

    @foreach (var item in Model.Pesawats)
    {
        <div class="card mb-4 rounded">
            <div class="card-body">

                <h5 class="card-title">@item.KodePenerbangan</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.KodeJenisPesawat</h6>

                <div class="card-text d-flex">
                    <div style="min-width:200px">KodeMaskapai:</div>
                    <div>@item.KodeMaskapai</div>
                </div>

            </div>

        </div>
    }


</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function (){
             $('.btn-delete').click(function() {                 
                  /*alert($(this).data('id'));     */             
                  $('.delete-id').val($(this).data('id'));
                  
             });
        });
    </script>
}

@{
    var _deleteConfirmVM = new DeleteConfirmViewModel()
    {
        Action = "Delete",
        Area = "Admin",
        Controller = "Pesawat",
        ID = "",
        IDName = "KodePenerbangan",
        t = @Model.t,
    };
}
<partial name="DeleteConfirm" model="_deleteConfirmVM"/>