@model AirlineBookingMVC.Areas.Admin.ViewModels.Shared.DeleteConfirmViewModel

<!-- Modal -->
<div class="modal fade" id="deleteConfirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Apakah Anda mau menghapus data ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                
                <form asp-action="@Model.Action"
                      asp-area="@Model.Area"
                      asp-controller="@Model.Controller">
                    
                    
                    <input type="hidden" asp-for="@Model.t" name="t"/>
                    
                    <input type="hidden" class="delete-id" name="@Model.IDName" id="@Model.IDName"/>

                    <button type="submit" class="btn btn-danger">Delete</button>

                </form>
                
            </div>
        </div>
    </div>
</div>