@model AirlineBookingMVC.Areas.Admin.ViewModels.Shared.FormTitleWithBackSaveViewModel

<div class="d-flex align-items-center">
    <div>
        <a class="btn"
           asp-area="@Model.Area"
           asp-action="@Model.BackAction"
           asp-controller="@Model.Controller"
           asp-route-t="@Model.t">
            <i class="bi-arrow-left" style="font-size: 24px;"></i>
        </a>
    </div>
    <div>
        <h2>@Model.Title</h2>
    </div>
    <div class="ms-auto">
        <button type="submit" class="btn p-4">
            <i class="bi-save" style="font-size: 24px;"></i>
        </button>
    </div>
</div>